@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

:root {
    --primary-color-faded: #0b396611; /* Primary color with pacity around 20% */
    --primary-color-faded2: #0b396638; /* Primary color with pacity around 20% */
    --neutral-color: #ebf1f7;
    --secondary-color: #95f9c3;
    --primary-color: #0b3866;
  }

body, html {
    scroll-snap-type:mandatory;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    background-color: var(--neutral-color);
    margin: 0px;
    padding: 0px;
}


.bg_pattern1{
    scroll-snap-align: start;
    width: 100%;
    padding: 1rem;
    min-height: 100vh;
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--primary-color-faded) 10px );
}

.bg_pattern2{
    scroll-snap-align: start;
    min-height: 100vh;
    height: max-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../public/wave.svg'); 
    background-color: var(--neutral-color);
    background-repeat: no-repeat;
}

.bg_pattern3{
    scroll-snap-align: start;
    width: 100%;
    padding: 1rem;
    min-height: 100vh;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:  radial-gradient(var(--primary-color) 1.05px, transparent 1.05px), radial-gradient(var(--primary-color) 1.05px, var(--neutral-color) 1.05px);
    background-size: 42px 42px;
    background-position: 0 0,21px 21px;  
}


@media only screen and (max-width: 600px) {

    .bg_pattern2{
        background-size: 250%;
    }
}


  @keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
    100%{
        opacity: 100%;
        color:white;
    }
  }

  .cursor{
    animation: cursor-blink 1.5s steps(2) infinite;
}
